@charset "UTF-8";
:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primary-light);
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}

body.backdrop {
  height: 100vh;
  overflow-y: hidden;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

h2 .accent {
  color: var(--color-brand);
}

.section-title {
  margin-bottom: 80px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 64px;
    line-height: 1.3;
  }
}

.section-title-centre {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-title-centre {
    font-size: 64px;
    line-height: 1.3;
  }
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.backdrop {
  display: flex;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.text-brand {
  color: var(--color-brand);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
  padding: 16px 24px;
  z-index: 2;
  overflow-y: scroll;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.mobile-menu__logo {
  margin-bottom: 32px;
}
.mobile-menu__links {
  margin-bottom: 16px;
}
.mobile-menu__link {
  color: var(--color-primary-dark);
  text-decoration: none;
  transition: color 0.3s, font-weight 0.3s;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}
.mobile-menu__link:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: #465929;
  background-color: transparent;
}

.button:active {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}

/*carousel-button*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  flex-shrink: 0;
}

.right {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

/*Modal button*/
.modal-button {
  padding: 16px 32px;
  display: block;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  align-content: center;
  margin: 0 auto 24px auto;
}

.modal-button:hover {
  color: #465929;
  background-color: transparent;
}

.modal-button-close {
  position: absolute;
  right: 40px;
  top: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.close-button {
  border: 0;
  width: 32px;
  height: 32px;
  stroke-width: 0;
}

.header {
  position: absolute;
  padding-top: 16px;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 32px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header__menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__button {
    display: block;
  }
}
.header__burger {
  background-color: transparent;
  fill: var(--color-primary-light);
  border: none;
  width: 24px;
  height: 24px;
  padding: 0px;
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}

.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../img/Люди п'ють каву в пекарні.jpg    ");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 272px 0;
  }
}
.hero-section__title {
  margin-bottom: 48px;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 67px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 48px;
}
@media screen and (min-width: 1280px) {
  .hero-section__title {
    margin-bottom: 0;
    font-size: 128px;
    line-height: 1.5;
  }
}
.hero-section__button {
  display: block;
  margin: 0 auto 24px;
}
@media screen and (min-width: 1280px) {
  .hero-section__button {
    display: none;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../img/Люди п'ють каву в пекарні@2x.jpg    ");
  }
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s, font-weight 0.3s;
}

.link:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.advantages-section {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .advantages-section {
    background-color: var(--color-brand);
  }
}
.advantages-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #cfcfbc;
  border-radius: 24px;
  padding: 24px 40px;
}
@media screen and (min-width: 768px) {
  .advantages-section__list {
    background-color: transparent;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    border-radius: 0;
    padding: 0 0;
  }
}
.advantages-section__item {
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .advantages-section__item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
  }
}

.chef-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .chef-title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

.chef-section__title-centre {
  margin: 0 auto 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .chef-section__title-centre {
    margin-bottom: 80px;
    position: relative;
    line-height: 1.3;
    font-size: 64px;
  }
}
.chef-section__chef-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .chef-section__chef-list {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}

.chef-section__title-centre::after,
.chef-section__title-centre::before {
  display: none;
}
@media screen and (min-width: 1280px) {
  .chef-section__title-centre::after,
  .chef-section__title-centre::before {
    position: absolute;
    bottom: 24px;
    display: block;
    width: 352px;
    border: 2px solid #cfcfbc;
    content: "";
  }
}

@media screen and (min-width: 768px) {
  .chef-section__title-centre::before {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .chef-section__title-centre::after {
    right: 0;
  }
}

.chef-img {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 #faf4ea, -16px 16px 0 2px #a28268;
}
@media screen and (min-width: 1280px) {
  .chef-img {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 #faf4ea, -16px 16px 0 2px #a28268;
  }
}

.chefs-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .chef-card {
    gap: 30px;
  }
}

.chef-text p {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .chef-text p {
    font-size: 18px;
  }
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.format-section_slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format__swiper-container {
  overflow: hidden;
}

.format-section_button {
  display: none;
}
@media screen and (min-width: 768px) {
  .format-section_button {
    display: flex;
  }
}

.format-container {
  margin-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .format-container {
    margin-bottom: 32px;
  }
}

.format-card {
  padding: 248px 24px 24px 24px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
  height: 444px;
  color: var(--color-primary-light);
}

.handlebar-card {
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%), url(../img/Handlebar.jpg);
}

.walrus-card {
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%), url(../img/Walrus.jpg);
}

.horseshoe-card {
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%), url(../img/Horseshoe.jpg);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.format-par {
  margin-bottom: 1px;
}

.format-par:last-child {
  margin-bottom: 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.pagination__button {
  padding: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #a28268;
}
.pagination__button--active {
  background-color: #819b57;
}

.traditions-section {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .traditions-section {
    padding-top: 96px;
  }
}
.traditions-section__img {
  display: none;
  border-radius: 400px 400px 0px 0px;
}
@media screen and (min-width: 768px) {
  .traditions-section__img {
    display: block;
  }
}
.traditions-section__title {
  margin-bottom: 42px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .traditions-section__title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.traditions-section__content {
  max-width: 710px;
}
.traditions-section__container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
}

.contact-flex-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-flex-container {
    flex-direction: row;
  }
}

.contact__conf-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__conf-text {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.18;
    text-align: center;
    width: 100%;
    max-width: 214px;
    margin: 0 auto;
  }
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  margin: 0 -24px;
  height: 176px;
}
@media screen and (min-width: 768px) {
  .contact-map {
    margin: auto;
    width: 320px;
    height: 595px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-map {
    margin: auto;
    width: 600px;
    height: 595px;
  }
}

.contact-section {
  padding-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-section {
    padding-bottom: 96px;
  }
}

.contact-section-text-input {
  margin-bottom: 42px;
  color: var(--color-brand);
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact-section-text-input {
    font-size: 18px;
    text-align: left;
  }
}

/* .contact-item {
    flex-basis: calc((100% - 32px) / 2);
} */
.section-title-contact {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-title-contact {
    font-weight: 900;
    font-size: 62px;
    line-height: 1.3;
    margin-bottom: 16px;
    text-align: left;
  }
}

.contact__contact-form {
  margin: auto auto;
}
@media screen and (min-width: 768px) {
  .contact__contact-form {
    margin: 0 0;
  }
}

.address-link {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .address-link {
    font-size: 16px;
  }
}

.address-link-map {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  /* width: 100%;
  max-width: 603px;
  height: 100%;
  max-height: 595px; */
}
@media screen and (min-width: 768px) {
  .address-link-map {
    font-size: 16px;
  }
}

.address-link:hover {
  color: var(--color-brand);
}

.address-copy {
  font-size: 12px;
  color: rgb(161, 130, 104);
  margin-top: 8px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .address-copy {
    font-size: 14px;
    margin-top: 16px;
  }
}

.footer {
  background-image: url("../img/footer-bg.png");
  background-color: var(--color-primary-dark);
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 0;
  }
}
.footer__logo {
  width: 100%;
  height: 100%;
  max-width: 72px;
  max-height: 38px;
  margin: auto 0 32px auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0 0 130px 0;
    max-width: 108px;
    max-height: 57px;
  }
}

.address-icon {
  fill: var(--color-primary-light);
  /* stroke: ; */
}

.address-icon:hover {
  fill: var(--color-brand);
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-flex-container {
    flex-direction: row;
    gap: 20px;
    padding: 32px 0;
  }
}

.footer-item {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-item {
    flex-basis: calc((100% - 20px) / 4);
    text-align: left;
  }
}

.footer::after,
.footer::before {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}
.footer::before {
  width: 92px;
  height: 196px;
  background-image: url(../img/DecorSmallBreadPhone.png);
  content: "";
  top: 48px;
}
@media screen and (min-width: 768px) {
  .footer::before {
    background-image: url(../img/DecorSmallBread.png);
    width: 180px;
    height: 120px;
    top: revert;
  }
}

.footer::after {
  right: -70px;
  bottom: -6px;
  background-image: url(../img/DecorBigBread.png);
  content: "";
  width: 380px;
  height: 190px;
}
@media screen and (min-width: 768px) {
  .footer::after {
    right: 0px;
  }
}

.footer-link {
  margin-bottom: 16px;
}

.footer-icon {
  display: inline-block;
}

.footer-icon.fb {
  margin-right: 22px;
}

.backdrop {
  display: flex;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.modal-window {
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  position: relative;
  padding: 48px;
  overflow-y: auto;
  scrollbar-color: var(--color-brand) white;
  scrollbar-width: thin;
}
@media screen and (min-width: 768px) {
  .modal-window {
    padding: 128px;
  }
}

.contact-form {
  width: 100%;
  height: 100%;
  max-width: 624px;
  max-height: 565px;
}

.contact-header {
  max-width: 624px;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
}

/* .contact-text {
    font-weight: 400;
    size: 16px;
    line-height: 1.2;
    position: absolute;
    top: 16px;
    left: 42px;
    color: rgba(161, 130, 104, 1);
} */
.contact-text-top {
  font-weight: 400;
  size: 16px;
  line-height: 1.18;
  margin-bottom: 72px;
  text-align: center;
  color: var(--color-brand-dark);
}

.conf-text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.18;
  text-align: center;
  width: 100%;
  max-width: 214px;
  margin: 0 auto;
}

.contact-input {
  display: block;
  width: 100%;
  max-width: 605px;
  max-height: 55px;
  background-color: transparent;
  border-radius: 8px;
  padding: 16px 42px;
  border: 1px solid rgb(161, 130, 104);
}

.contact-input:focus {
  outline: none;
  border-color: var(--color-brand);
}

.input-block {
  margin-bottom: 32px;
  position: relative;
}

.contact-input::-moz-placeholder {
  font-weight: 400;
  size: 16px;
  line-height: 1.18;
  color: rgb(161, 130, 104);
}

.contact-input::placeholder {
  font-weight: 400;
  size: 16px;
  line-height: 1.18;
  color: rgb(161, 130, 104);
}

.form-terms-link {
  color: rgb(49, 38, 26);
  text-underline-offset: 2px;
}

.modal-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* .modal-window::-webkit-scrollbar {
    width: 10px;
    height: 50px;
    background: var(--color-primary-light);
    border-radius: 32px;
}
.modal-window::-webkit-scrollbar-track {
    border: 5px black;
}
.modal-window::-webkit-scrollbar-thumb {
    background: var(--color-brand);
    border-radius: 15px;
    height: 15px;
} */
.contact-input::-moz-placeholder {
  font-weight: 400;
  size: 16px;
  line-height: 1.18;
  color: rgb(161, 130, 104);
}
.contact-input::placeholder {
  font-weight: 400;
  size: 16px;
  line-height: 1.18;
  color: rgb(161, 130, 104);
}

.form-terms-link {
  color: rgb(49, 38, 26);
  text-underline-offset: 2px;
}

.modal-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* .modal-window::-webkit-scrollbar {
    width: 10px;
    height: 50px;
    background: var(--color-primary-light);
    border-radius: 32px;
}
.modal-window::-webkit-scrollbar-track {
    border: 5px black;
}
.modal-window::-webkit-scrollbar-thumb {
    background: var(--color-brand);
    border-radius: 15px;
    height: 15px;
} *//*# sourceMappingURL=main.css.map */