.header {
    position: absolute;
    padding-top: 16px;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (min-width:$bp-desktop) {
        padding-top: 32px;        
    }

    &__container {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
    &__nav {
            display: flex;
            flex-grow: 1;
            align-items: center;
            gap: 40px;
        }
    
    &__menu {
        display: none;
            

            @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 64px;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
                
            }
        }
    &__button {
        display: none;
        @media screen and (min-width: $bp-desktop) {
        display: block;
            
        }
    }

    &__burger {
        background-color: transparent;
        fill: var(--color-primary-light);
        border: none;
        width: 24px;
        height: 24px;
        padding: 0px;

        @media screen and (min-width: $bp-desktop) {
            display: none;
        
            }
    }
}

