.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;
    padding: 16px 24px;
    z-index: 2;
    overflow-y: scroll;
    
    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        
    }

    


    &__logo {
    margin-bottom: 32px;
    }
    
    &__links {
    margin-bottom: 16px;
}
    &__link {
            color: var(--color-primary-dark);
            text-decoration: none;
            transition: color 0.3s, font-weight 0.3s;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
            }
    &__link:hover {
            color: var(--color-brand);
            font-weight: 600;
                }

}


